<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cube_me.cubeme_crm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.cube_me.cubeme_crm.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.cube_me.cubeme_crm.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cube_me.cubeme_crm.MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.cube_me.cubeme_crm.BaseActivity" />
        <activity
            android:name="com.cube_me.cubeme_crm.Accounts.AccountsNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Contacts.ContactNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Accounts.AccountView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Inquiry.InquiryNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.Estimation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.EstimationDirectMaterial"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.EstimationOtherMaterials"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.EstimationConsumables"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.EstimationPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Estimation.EstimationSaved"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Quotations.QuotationNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Inquiry.InquirySaved"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cube_me.cubeme_crm.Inquiry.InquiryView"
            android:screenOrientation="portrait" />
        <activity android:name="com.cube_me.cubeme_crm.PurchaseOrder.PurchaseOrderNew" />
        <activity android:name="com.cube_me.cubeme_crm.Jobs.JobNew" />
        <activity android:name="com.cube_me.cubeme_crm.Quotations.QuotationSaved" />
        <activity android:name="com.cube_me.cubeme_crm.Quotations.QuotationView"/>
    </application>

</manifest>